<main>

<div class="jumbotron">
  <div class="container">
      <h1>Update Contacts</h1>
      <p>Please select a contact to update.</p>
      <p><a class="btn btn-warning btn-lg" href="/" role="button">Add Contact</a></p>
  </div>
</div>

<div class="container-fluid">
{{#each contacts}}

<div class="col-sm">
<div class="card card-model" style="">
  {{#if photo_url}}
  <img class="card-img-top" src="{{photo_url}}" alt="Card image cap">
  {{else}}
  <img class="card-img-top" src="../public/img/noimg.jpg" alt="Card image cap">
  {{/if}}
  <div class="card-body">
    <h4 class="card-title">{{performer_first_name}} {{performer_last_name}}</h4>
    <h6 class="card-subtitle"> {{first_name}} {{last_name}} </h6>
    <p class="card-text">
      <ul>
        <li> {{phone}} </li>
        <li> {{email}} </li>
        {{#if twitter}}
        <li> {{twitter}} </li>
        {{else}}
        <li> {{instagram}} </li>
        {{/if}}
        <li> {{exclusive}} </li>
      </ul>
      <div class="text-center">
        <div class="row">
          <div class="col-md-6">
    </div>
    <div class="col-md-6">
   <a href="/edit/{{id}}" type="submit"  value="submit"><button class="btn btn-success edit-model-btn">Edit Model ✓</button></a>
    </div>
  </div>
  </div>
    </p>
  </div>
</div>
</div>




{{/each}}

</div>

</div>
</main>
