<main>
<div class="jumbotron">
  <div class="container">
      <h1>Edit Contact</h1>
      <p>Fill out the form below to Edit</p>
      <p><a class="btn btn-primary btn-lg" href="/contacts" role="button">View All</a></p>
  </div>
</div>

<div class="container">
  <div class="col-md-8">
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Contact</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
    <form action="/api/contacts/{{contact.id}}?_method=PUT" method="post">
      <div class="form-group">
        <label for="firstName">Legal First Name</label>
        <input type="text" value="{{contact.first_name}}" name="first_name" class="form-control" id="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Legal Last Name</label>
        <input type="text" value="{{contact.last_name}}" name="last_name" class="form-control" id="lastName">
      </div>
      <div class="form-group">
        <label for="firstName">Performer First Name</label>
        <input type="text" value="{{contact.performer_first_name}}" name="first_name" class="form-control" id="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Performer Last Name</label>
        <input type="text" value="{{contact.performer_last_name}}" name="last_name" class="form-control" id="lastName">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" value="{{contact.phone}}" name="phone" class="form-control" id="phone">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" value="{{contact.email}}" name="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" value="{{contact.current_city}}" name="current_city" class="form-control" id="currentLocation">
      </div>
      <div class="form-group">
        <label for="gender">Affiliate Code</label>
        <input type="text" value="{{contact.aff_code}}" name="aff_code" class="form-control" id="aff_code">
      </div>
      <div class="form-group">
        <label for="gender">Twitter</label>
        <input type="text" value="{{contact.twitter}}" name="twitter" class="form-control" id="twitter">
      </div>
      <div class="form-group">
        <label for="gender">Instagram</label>
        <input type="text" value="{{contact.instagram}}" name="instagram" class="form-control" id="instagram">
      </div>
      <div class="form-group">
      <label for="exclusive">Exclusive</label>
      <select class="form-control" id="exclusive" name="exclusive">
        <option selected>{{contact.exclusive}}</option>
        <option>Exclusive</option>
        <option>Semi-Exclusive</option>
        <option>Non-Exclusive</option>
      </select>
    </div>
  </div>
  
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </main>
